html {
  padding: 10px;
  font-family: Verdana, sans-serif;
}

.you
{
  padding: 8px;
    background-color: green;
      border-radius: 6px;
      border-bottom-left-radius: 0px;
      overflow: auto;
        margin-right: 15px;
}

.user
{


}

.them
{
  padding: 8px;
  background-color: #009afd;
  border-radius: 6px;
    border-bottom-right-radius: 0px;
    overflow: auto;
    margin-left: 15px;
}

li#login-dropdown-list.dropdown {
  list-style-type: none;
}/* CSS declarations go here */
